# Arquivos compilados (Gerados pelo IntelliJ)
out/
build/
*.class

# Configurações locais do IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Arquivos de log e testes
*.log

# Arquivos temporários do Sistema Operacional
.DS_Store
Thumbs.db